<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#dc0a2d">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#dc0a2d">
    <title>Pokédex</title>
</head>
<body>

    <nav>

    <ul>
        <li><img src="/img/pokebola.png" alt="Pokebola"></li>
        <li> <a href="/"><h1>Pokédex</h1></a></li>
        <li> <a href="#cadastro"> Cadastro</a></li>
        <li> <a href="#cards"> Pokemons</a></li>
    </ul>
    

    </nav>  
    
    <main>

        <section id="cadastro">

            <img src="/img/pokedex.png" alt="Pokedex">

            <div>

            <% if (pokemon == undefined) { %>

            <h2>Cadastre um novo Pokemon</h2>

            <form action="/create" method="POST">

                <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome">

                <label for="descricao">Descrição: </label>
                <input type="text" id="descricao" name="descricao">

                <label for="tipo">Tipo: </label>
                <input type="text" id="tipo" name="tipo">

                <label for="imagem"> Link da imagem: </label>
                <input type="text" id="imagem" name="imagem">

                <button id="btnCadastrar" type="submit">Cadastrar</button>




            </form>
            <% } else { %>

            <h2>Atualização do Pokemon</h2>

            <form action="/update/<%= pokemon.id %>" method="POST">

                <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" value="<%= pokemon.nome %>">

                <label for="descricao">Descrição: </label>
                <input type="text" id="descricao" name="descricao" value="<%= pokemon.descricao %>">

                <label for="tipo">Tipo: </label>
                <input type="text" id="tipo" name="tipo" value="<%= pokemon.tipo %>">

                <label for="imagem"> Link da imagem: </label>
                <input type="text" id="imagem" name="imagem" value="<%= pokemon.value %>">

                <button id="btnAtualizar" type="submit">Atualizar</button>




            </form>
            <% } %>
        </div>
        </section>


        <section id="cards">

            <h2>Lista de Pokemons</h2>

            <% pokedex.forEach((pokemon) => { %>
                <div class="card">
                    <p>00<%= pokemon.id %></p>
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h3><%= pokemon.nome %></h3>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <p>Tipo: <%= pokemon.tipo %></p>
                    <a id="apagar" href="/delete/<%= pokemon.id %>">Apagar</a>
                </div>
            <% }) %>
    
        </section>

        
    </main>

    <footer>

        <p>Todos os direitos reservados @pedroreezende &copy;</p>
        <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
    </footer>
    

</body>
</html>